<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Emp_CRUDP</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InitCtl</display-name>
    <servlet-name>InitCtl</servlet-name>
    <servlet-class>ctl.InitCtl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitCtl</servlet-name>
    <url-pattern>/InitCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCtl</display-name>
    <servlet-name>LoginCtl</servlet-name>
    <servlet-class>ctl.LoginCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCtl</servlet-name>
    <url-pattern>/LoginCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCtl</display-name>
    <servlet-name>AddCtl</servlet-name>
    <servlet-class>ctl.AddCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCtl</servlet-name>
    <url-pattern>/AddCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCtl</display-name>
    <servlet-name>DeleteCtl</servlet-name>
    <servlet-class>ctl.DeleteCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCtl</servlet-name>
    <url-pattern>/DeleteCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCtl</display-name>
    <servlet-name>UpdateCtl</servlet-name>
    <servlet-class>ctl.UpdateCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCtl</servlet-name>
    <url-pattern>/UpdateCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackCtl</display-name>
    <servlet-name>BackCtl</servlet-name>
    <servlet-class>ctl.BackCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackCtl</servlet-name>
    <url-pattern>/BackCtl</url-pattern>
  </servlet-mapping>
</web-app>